* {
  padding: 0;
  margin: 0;
}

body {
  background: #8a8585;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #0c0b0b;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#toTop {
  display: none;
  z-index: 999;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 25px;
  border-radius: 50px;
  background: #ffa839;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  color: #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.text-h2 {
  color: #1b1414;
  font-size: 30px;
  margin-bottom: 30px;
  position: relative;
}

.text-h2::before {
  content: "";
  border-bottom: 1.5px solid #690b23;
  position: absolute;
  width: 50%;
  height: 150%;
  z-index: 99;
}

.section-margin {
  margin-bottom: 50px;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #13173a;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
}

.header__nav-menu-item {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav-link {
  text-decoration: none;
  font-family: helvetica;
  color: #cacfd8;
  cursor: pointer;
}

.header__nav-link:hover {
  color: #ffa839;
  border-bottom: 2px solid #ffa839;
}

.list-item {
  padding-left: 20px;
  list-style-position: inside;
  list-style-type: circle;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aside {
  background-color: #a73636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 350px;
  padding-top: 40px;
}

.aside__main-img {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}

.contact-info__items {
  list-style-type: none;
  margin-top: 50px;
}

.contact-info__link {
  text-decoration: none;
  font-family: helvetica;
  color: #0f0d16;
  cursor: pointer;
}

.contact-info__link:hover {
  color: #ffa839;
}

.contact-info__icon {
  padding-right: 15px;
  margin-bottom: 20px;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

.content__h1 {
  margin-bottom: 80px;
}

.footer {
  background-color: #00c2fd;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.contact-info__icon {
  font-size: 50px;
}

.footer__created-date {
  padding-left: 100px;
  padding-right: 100px;
}

.footter__rs-link-img {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */